button {
    background-color: lemonchiffon;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid grey;
    cursor: pointer;
    box-shadow: 0 6px #999;
    border-radius: 10px;
    margin-bottom: 30px;
}
button:hover {
    opacity: .8;
}
button:active {
    background-color:beige;
    transform: translateY(4px);
    box-shadow: 0 3px #666;
}

p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', cursive;
}

h2 {
    transform: translateY(-17px);
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url("images/cute-sky-2.jpg");
    background-size: auto 100%; 
    background-repeat: no-repeat;
    width: 400px;
    height: 540px;
}
