button {
    background-color: darkslateblue;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);

    /*box shadow*/
    cursor: pointer;
    box-shadow: 0 6px black;
    border-radius: 10px;
    margin-bottom: 30px;
}
button:hover {
    opacity: .9;
}
button:active {
    background-color:rgb(193, 154, 226);
    transform: translateY(4px);
    box-shadow: 0 3px black;
}

.buttons {
    /*centers the buttons*/
    margin: auto;
    width: 50%;
    white-space: nowrap;
    transform: translateY(5px);
    /*code to space out buttons*/
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
}



.pboxes {
    /*background*/
    background-color: darkslateblue;
    background-image: linear-gradient(to bottom right, darkslateblue, rgb(183, 0, 255));
    border-radius: 10px;
    border-color: whitesmoke;

    /*outline*/
    outline-width: 2px;
    outline-color: white;
    outline-style: solid;

    /*changes text*/
    font-size: 16px;
    color: white;
    word-wrap: break-word;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;

    /*adds outline*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', cursive;
}

#encoded-text {
    transform: translateY(-20px);
}

.title {
    /*centers text and disables auto wrapping*/
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
    /*colors text*/
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(32, 0, 51);
}
.project-info {
    transform: translateY(-18px);
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*outlines text in color*/
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(51, 0, 0);
}

html {
    background-image: url("images/cute-sky-3.webp");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 540px;
    height: 540px;
    min-width: 540px;
    min-height: 540px;
}

::-webkit-scrollbar {
    display: none !important;
}

::-webkit-scrollbar-button {
    display: none !important;
}
